.pinter_footer{
    text-align:center; margin-top:2rem;
}

.pinter_logo {

    margin-top: 1rem;font-family: 'Dancing Script', cursive;
}
.pinter_footer_button{
    font-size: .9rem;
}

.pinter_header{
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size:13px;
    }
}

a {
   color: darkgrey;

}

a:hover {
    color: #343a40;
    text-decoration: none;
}

.pinter_header_nav {
    margin: 1rem 0.5rem;
}

.pinter_header_navbar {
    margin: 1rem 0;
}