.pinter_footer{
    text-align:center; margin-top:2rem;
}

.pinter_logo {

    margin-top: 1rem;font-family: 'Dancing Script', cursive;
}
.pinter_footer_button{
    font-size: .6rem;
}

.pinter_header{
    text-align:center; margin: 2rem 0;
}


