{% extends 'base.html' %}

{% block content %}


    <div>
        <div style="text-align:center; max-width:700px; margin:4rem auto;">
            <h1>
                {{ target_article.title }}
                {{ like_user }}

            </h1>
            <div style="height: 2rem;">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'outline-danger' %}
                <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
                    <i class="material-icons"; style="color:#f77;vertical-align:middle;font-size:1.2rem">
                    favorite
                </i>
                </a>
                {% else %}
                <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
                    <i class="material-icons"; style="color:red;vertical-align:middle;font-size:1.2rem">
                    favorite
                </i>
                </a>

                {% endif %}
                {% endfor %}

                {% else %}
                <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
                    <i class="material-icons"; style="color:#f77;vertical-align:middle;font-size:1.2rem">
                    favorite
                </i>
                </a>
                {% endif %}


                <span style="vertical-align:middle;">
                    {{ target_article.like }}
                </span>
            </div>

            <h6>
                {{ target_article.writer.profile.nickname }}
            </h6>
            <hr>

            <img style="width:100%; border-radius:1rem;"
                    src="{{ target_article.image.url }}" alt="">

            <p>
                {{ target_article.content | safe }}
            </p>
            {% if target_article.writer == user %}
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
            class="btn btn-outline-success rounded-pill">
                    Update Article
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
            class="btn btn-outline-danger rounded-pill">
                Delete Article
            </a>
            {% endif %}
            <hr>
            {% for comment in target_article.comment.all %}

                {% include 'commentapp/detail.html' with comment=comment %}
            {% endfor %}
            {% include 'commentapp/create.html' with article=target_article %}
        </div>
    </div>

{% endblock %}
